*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}


/* 

#BF1725
#731022
#BF1515
#F2F2F2
#0D0D0D 

*/








/* Edicion de botones */
.burger-menu{
    background-color: #BF1515;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
}


header{
    /* border: red 1px solid; */
}


/*_______________________________________________________________*/
.header-body{
    /* border: black 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 0px 15px;
    /* width: 90%; */
    font-size: 12px;
    margin-bottom: 15px;
}
.logo{
    height: 100px;
    width: 200px;
}
.header-body-navbar{
    display: none;
}
.linea-roja{
    border: #BF1515 solid 15px;
    background-color: #BF1515;
}
.linea-roja2{
    border-top: #731022 dotted 10px;
}












/*_______________________________________________________________*/
@media (min-width:768px){
    .header-body-navbar{
        display: inline-block;
        width: 60vw;
    }
    .header-body-navbar ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
        /* max-width: 40vw; */
    }
    .header-body-navbar a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 600;
    }
    .header-body-navbar a:hover{
        
    }

}




/*_______________________________________________________________*/
@media(min-width:1200px){
    .burger-menu{
        display: none;
    }
    .header-body-navbar{
        width: 70vw;
        /* max-width: 40vw; */
    }

}